@model PassionProject.Models.ViewModels.InstructionEdit

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Instruction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-route-id="@Model.Instruction.InstructionId">

            <input type="hidden" name="InstructionId" value="@Model.Instruction.InstructionId" />

            <div class="form-group">
                <label for="QtyOfIngredient">Qty</label>
                <input name="QtyOfIngredient" value="@Model.Instruction.QtyOfIngredient" />
            </div>

            <div class="form-group">
                <label for="DessertId" class="control-label"></label>
                <select name="DessertId">

                    @foreach (DessertDto dessertDto in Model.DessertOptions)
                    {

                        if (dessertDto.DessertId == Model.Instruction.DessertId)
                        {
                            <option value="@dessertDto.DessertId" selected="selected">#@dessertDto.DessertId @dessertDto.DessertName  </option>

                        }
                        else
                        {
                            <option value="@dessertDto.DessertId">#@dessertDto.DessertId @dessertDto.DessertName </option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">
                <label for="IngredientId" class="control-label"></label>
                <select name="IngredientId">

                    @foreach (IngredientDto ingredientDto in Model.IngredientOptions)
                    {

                        if (ingredientDto.IngredientId == Model.Instruction.IngredientId)
                        {
                            <option value="@ingredientDto.IngredientId" selected="selected">#@ingredientDto.IngredientId @ingredientDto.IngredientName</option>
                        }
                        else
                        {

                            <option value="@ingredientDto.IngredientId">#@ingredientDto.IngredientId @ingredientDto.IngredientName</option>
                        }

                    }
                </select>
            </div>

            <div class="form-group">
                <label for="ChangeIngredientOption">Change Ingredient Option</label>
                <input name="ChangeIngredientOption" value="@Model.Instruction.ChangeIngredientOption" />
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
