@model IEnumerable<PassionProject.Models.DessertDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="New">Create New</a>
</p>
<table class="table">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DessertName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DessertDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecificTag)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DessertName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DessertDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecificTag)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DessertId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DessertId">Details</a> |
                <a asp-action="ConfirmDelete" asp-route-id="@item.DessertId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>