@model PassionProject.Models.ViewModels.IngredientDetails


<a href="/IngredientPage/ConfirmDelete/@Model.Ingredient.IngredientId">Delete</a>
<a href="/IngredientPage/Edit/@Model.Ingredient.IngredientId">Edit</a>
<a href="/IngredientPage/List">Back</a>
<div class="row">
    <div class="col-md-6">
        <div>
            <label>Name</label>
            <div>@Model.Ingredient.IngredientName</div>
        </div>
        <div>
            <label>Description</label>
            <div>@Model.Ingredient.IngredientDescription</div>
        </div>

    </div>
    <div class="col-md-6">
        <div>
            <label>Desserts:</label>
            <ul>
                @foreach (var DessertDto in Model.IngredientDesserts)
                {
                    <li>@DessertDto.DessertName</li>
                   
                }
            </ul>
       
        </div>
        <hr />
        <div>
            <h3>Instruction:</h3>
            <div>
                @foreach (var InstructionDto in Model.IngredientInstructions)
                {

                    <div> @InstructionDto.QtyOfIngredient @InstructionDto.DessertName (@InstructionDto.ChangeIngredientOption) </div>
                }

            </div>
        </div>
    </div>
</div>
