@model PassionProject.Models.ViewModels.ReviewDetails

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ReviewNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ReviewNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ReviewContent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ReviewContent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ReviewUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ReviewUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.ReviewTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.ReviewTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.DessertName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.DessertName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Review.ReviewId">Edit</a> |
    <a asp-action="List">Back to List</a>
</div>






